.nav-link{
    background-color: rgb(55, 218, 40);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    color: indigo;
}
#navbarSupportedContent{
    justify-content: space-between;
}
.navbar-brand{
    color: indigo;
}
.register-button{
    cursor: pointer;
}
.upper-header{
    background-color: rgb(100, 97, 97);
}