.mb-0{
    text-align: center;
}
.btn-primary {
    float: right;
    margin: 17px 0 0;
    cursor: pointer;
}

.register-container{
    .email-input{
    color: #585858;
    }   
}
.card{
    border-radius: 20px;
    background-color: aqua;
}